# Sales Analytics

This repository has csv files to performs data analytics to gain insights.

However, instead of using pandas, this notebook uses SQL to query and analyze the csv datasets.

The sales here data is different from the original data. The sales data is filtered to select only the samples which bought at least 20 items. This project only analyzes distributor sales.

In [1]:
!pip install -q pandasql

  Preparing metadata (setup.py) ... done
  Building wheel for pandasql (setup.py) ... done

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd
from pandasql import sqldf
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load the data
path = '/content/drive/MyDrive/Others/Sales-Analytics/'
categories = pd.read_csv(path + 'categories.csv')
cities = pd.read_csv(path + 'cities.csv')
countries = pd.read_csv(path + 'countries.csv')
customers = pd.read_csv(path + 'customers.csv')
employees = pd.read_csv(path + 'employees.csv')
products = pd.read_csv(path + 'products.csv')
sales = pd.read_csv(path + 'sales_filtered.csv')

# categories = pd.read_csv('../01_data/categories.csv')
# cities = pd.read_csv('../01_data/cities.csv')
# countries = pd.read_csv('../01_data/countries.csv')
# customers = pd.read_csv('../01_data/customers.csv')
# employees = pd.read_csv('../01_data/employees.csv')
# products = pd.read_csv('../01_data/products.csv')
# sales = pd.read_csv('../01_data/sales_filtered_20.csv')

# EDA

In [ ]:
query = """
select *
from sales
limit 5
"""
sales_load = sqldf(query, globals())
sales_load

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,3,13,94024,23,24,0.0,0.0,2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
1,4,8,73966,176,19,0.2,0.0,2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
2,9,16,89009,124,23,0.0,0.0,2018-04-27 06:19:58.570,P0UARL09H66APBEIDUQW
3,10,22,65017,346,17,0.2,0.0,2018-03-26 22:12:08.530,92TNPGIL6LFKVGWFBW5H
4,11,5,67670,405,18,0.2,0.0,2018-03-30 09:23:05.370,Z2WDS9TJXLAO1GY0N24I

In [ ]:
query = """
select min(SalesDate) as start_date, max(SalesDate) as end_date, max(Quantity) as max_quantity
from sales
"""
sqldf(query, globals())

                start_date                 end_date  max_quantity
0  2018-01-01 00:00:07.540  2018-05-09 23:59:52.940            25

In [ ]:
query = """
select distinct(Discount)
from sales
"""
sqldf(query, globals())

   Discount
0       0.0
1       0.2
2       0.1

In [ ]:
query = """
select
    a.*,
    b.CityName,
    c.CountryName
from customers a
left join cities b on a.CityID = b.CityID
left join countries c on b.CountryID = c.CountryID
limit 5
"""
customers_load = sqldf(query, globals())
customers_load

,CustomerID,FirstName,MiddleInitial,LastName,CityID,Address,CityName,CountryName
0,1,Stefanie,Y,Frye,79,97 Oak Avenue,Oklahoma,United States
1,2,Sandy,T,Kirby,96,52 White First Freeway,Pittsburgh,United States
2,3,Lee,T,Zhang,55,921 White Fabien Avenue,Houston,United States
3,4,Regina,S,Avery,40,75 Old Avenue,Cleveland,United States
4,5,Daniel,S,Mccann,2,283 South Green Hague Avenue,Buffalo,United States

In [ ]:
query = """
select
    a.*,
    b.CityName,
    c.CountryName
from employees a
left join cities b on a.CityID = b.CityID
left join countries c on b.CountryID = c.CountryID
limit 5
"""
employees_load = sqldf(query, globals())
employees_load

,EmployeeID,FirstName,MiddleInitial,LastName,BirthDate,Gender,CityID,HireDate,CityName,CountryName
0,1,Nicole,T,Fuller,1981-03-07 00:00:00.000,F,80,2011-06-20 07:15:36.920,New Orleans,United States
1,2,Christine,W,Palmer,1968-01-25 00:00:00.000,F,4,2011-04-27 04:07:56.930,Fremont,United States
2,3,Pablo,Y,Cline,1963-02-09 00:00:00.000,M,70,2012-03-30 18:55:23.270,Rochester,United States
3,4,Darnell,O,Nielsen,1989-02-06 00:00:00.000,M,39,2014-03-06 06:55:02.780,Lubbock,United States
4,5,Desiree,L,Stuart,1963-05-03 00:00:00.000,F,23,2014-11-16 22:59:54.720,Anaheim,United States

In [ ]:
query = """
select count(EmployeeID)
from employees
"""
sqldf(query, globals())

   count(EmployeeID)
0                 23

In [ ]:
query = """
select
    a.*,
    b.CategoryName
from products a
left join categories b on a.CategoryID = b.CategoryID
limit 5
"""
products_load = sqldf(query, globals())
products_load

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays,CategoryName
0,1,Flour - Whole Wheat,74.2988,3,Medium,2018-02-16 08:21:49.190,Durable,Unknown,0.0,Cereals
1,2,Cookie Chocolate Chip With,91.2329,3,Medium,2017-02-12 11:39:10.970,Unknown,Unknown,0.0,Cereals
2,3,Onions - Cippolini,9.1379,9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0,Poultry
3,4,"Sauce - Gravy, Au Jus, Mix",54.3055,9,Medium,2017-07-16 00:46:28.880,Durable,Unknown,0.0,Poultry
4,5,Artichokes - Jerusalem,65.4771,2,Low,2017-08-16 14:13:35.430,Durable,True,27.0,Shell fish

# Sales

In [ ]:
# Daily sales
query = """
select
  sales_date,
  count(SalesPersonID) as count_sales,
  count(distinct SalesPersonID) as count_sales_person,
  count(distinct CustomerID) as count_customer, -- DAU
  count(distinct ProductID) as count_product,
  sum(Quantity) as sum_quantity,
  avg(Quantity) as avg_quantity,
  sum(total_price) as sum_total_price,
  avg(total_price) as avg_total_price,
  count(case when Discount = 0.1 then SalesID end) * 1.0 / count(SalesPersonID) * 100 as disc_10pct,
  count(case when Discount = 0.2 then SalesID end) * 1.0 / count(SalesPersonID) * 100 as disc_20pct
from (
  select
    date(s.SalesDate) as sales_date,
    s.*,
    p.ProductName,
    p.Price,
    s.Quantity * p.Price * (1 - s.Discount) as total_price
  from sales s
  left join products p on s.ProductID = p.ProductID
) joiner
group by sales_date
order by sales_date
"""
daily_sales = sqldf(query, globals())
daily_sales.head(10)

,sales_date,count_sales,count_sales_person,count_customer,count_product,sum_quantity,avg_quantity,sum_total_price,avg_total_price,disc_10pct,disc_20pct
0,None,29798,23,21532,452,594780,19.960400,2.920002e+07,979.932052,10.004027,9.977180
1,2018-01-01,22978,23,17865,452,458956,19.973714,2.278827e+07,991.742970,9.661415,9.630951
2,2018-01-02,22887,23,17730,452,457725,19.999345,2.252756e+07,984.294909,9.944510,10.176082
3,2018-01-03,22829,23,17735,452,456951,20.016251,2.253756e+07,987.233975,10.088046,9.978536
4,2018-01-04,22673,23,17624,452,452892,19.974948,2.233520e+07,985.101399,9.804613,10.038372
5,2018-01-05,23044,23,17875,452,461379,20.021654,2.256946e+07,979.407431,9.924492,9.842041
6,2018-01-06,22969,23,17896,452,459773,20.017110,2.267469e+07,987.186544,10.300840,9.778397
7,2018-01-07,22872,23,17797,452,457482,20.001836,2.267006e+07,991.170912,9.728052,10.117174
8,2018-01-08,22839,23,17751,452,456739,19.998205,2.261329e+07,990.117332,9.890976,9.842813
9,2018-01-09,22823,23,17770,452,456734,20.012005,2.252183e+07,986.803889,10.125750,10.090698

In [ ]:
# daily_sales.to_csv('daily_sales.csv', index=False)

# Salespersons

In [ ]:
# Top SalesPerson by month
query = """
select
  sales_month,
  SalesPersonID,
  count(distinct SalesID) as count_transaction,
  sum(Quantity) as sum_quantity,
  sum(total_price) as sum_total_price,
  dense_rank() over (partition by sales_month order by count(distinct SalesID) desc) as ranker_transaction,
  dense_rank() over (partition by sales_month order by sum(Quantity) desc) as ranker_quantity,
  dense_rank() over (partition by sales_month order by sum(total_price) desc) as ranker_price
from (
  select
    cast(strftime('%Y-%m', s.SalesDate) as text) as sales_month,
    s.*,
    p.ProductName,
    p.Price,
    s.Quantity * p.Price * (1 - s.Discount) as total_price
  from sales s
  left join products p on s.ProductID = p.ProductID
) joiner
group by sales_month, SalesPersonID
order by sales_month, SalesPersonID
"""
top_salesperson = sqldf(query, globals())
top_salesperson.tail(10)

,sales_month,SalesPersonID,count_transaction,sum_quantity,sum_total_price,ranker_transaction,ranker_quantity,ranker_price
128,2018-05,14,8878,177016,8.785757e+06,19,20,17
129,2018-05,15,8921,178520,8.827219e+06,16,16,14
130,2018-05,16,8972,179223,8.823534e+06,12,13,15
131,2018-05,17,8790,175442,8.598854e+06,21,22,23
132,2018-05,18,8878,177707,8.646123e+06,19,19,22
133,2018-05,19,9053,180480,8.841893e+06,4,6,11
134,2018-05,20,9060,181354,8.978486e+06,2,2,2
135,2018-05,21,9043,180936,9.039033e+06,5,5,1
136,2018-05,22,9036,181163,8.938946e+06,7,3,4
137,2018-05,23,9079,181907,8.945075e+06,1,1,3

In [ ]:
# top_salesperson.to_csv('top_salesperson.csv', index=False)

In [ ]:
# Top SalesPerson by month
query = """
with ranker as (
  select
    sales_month,
    SalesPersonID,
    count(distinct SalesID) as count_transaction,
    sum(Quantity) as sum_quantity,
    sum(total_price) as sum_total_price,
    dense_rank() over (partition by sales_month order by count(distinct SalesID) desc) as ranker_transaction,
    dense_rank() over (partition by sales_month order by sum(Quantity) desc) as ranker_quantity,
    dense_rank() over (partition by sales_month order by sum(total_price) desc) as ranker_price
  from (
    select
      cast(strftime('%Y-%m', s.SalesDate) as text) as sales_month,
      s.*,
      p.ProductName,
      p.Price,
      s.Quantity * p.Price * (1 - s.Discount) as total_price
    from sales s
    left join products p on s.ProductID = p.ProductID
  ) joiner
  group by sales_month, SalesPersonID
  order by sales_month, SalesPersonID
)

, transaction_counter as (
  select sales_month, SalesPersonID, count_transaction
  from ranker
  where ranker_transaction = 1
    and sales_month is not null
)

, quantity as (
  select sales_month, SalesPersonID, sum_quantity
  from ranker
  where ranker_quantity = 1
    and sales_month is not null
)

, total_price as (
  select sales_month, SalesPersonID, sum_total_price
  from ranker
  where ranker_price = 1
    and sales_month is not null
)

select
  t.sales_month, t.SalesPersonID as top_salesperson_transaction, t.count_transaction,
  q.SalesPersonID as top_salesperson_quantity, q.sum_quantity,
  p.SalesPersonID as top_salesperson_price, p.sum_total_price
from transaction_counter t
left join quantity q on t.sales_month = q.sales_month
left join total_price p on t.sales_month = p.sales_month

"""
top_salesperson_2 = sqldf(query, globals())
top_salesperson_2.tail()

,sales_month,top_salesperson_transaction,count_transaction,top_salesperson_quantity,sum_quantity,top_salesperson_price,sum_total_price
0,2018-01,22,31109,22,621928,22,3.094433e+07
1,2018-02,23,28013,23,559730,7,2.768073e+07
2,2018-03,9,31107,9,621301,5,3.068575e+07
3,2018-04,21,30233,21,604721,21,2.996321e+07
4,2018-05,23,9079,23,181907,21,9.039033e+06

In [ ]:
top_salesperson_2.to_csv('top_salesperson_2.csv', index=False)

# Products

In [ ]:
# Top products by month
query = """
select
  sales_month,
  CategoryName,
  count(SalesID) as count_transaction,
  sum(Quantity) as sum_quantity,
  sum(total_price) as sum_total_price,
  dense_rank() over (partition by sales_month order by count(SalesID) desc) as ranker_transaction,
  dense_rank() over (partition by sales_month order by sum(Quantity) desc) as ranker_quantity,
  dense_rank() over (partition by sales_month order by sum(total_price) desc) as ranker_price
from (
  select
    cast(strftime('%Y-%m', s.SalesDate) as text) as sales_month,
    s.*,
    p.ProductName,
    c.CategoryName,
    p.Price,
    s.Quantity * p.Price * (1 - s.Discount) as total_price
  from sales s
  left join products p on s.ProductID = p.ProductID
  left join categories c on p.CategoryID = c.CategoryID
) joiner
group by sales_month, CategoryName
order by sales_month, CategoryName
"""
top_products = sqldf(query, globals())
top_products.tail(10)

,sales_month,CategoryName,count_transaction,sum_quantity,sum_total_price,ranker_transaction,ranker_quantity,ranker_price
56,2018-05,Cereals,20675,414217,2.023145e+07,4,4,4
57,2018-05,Confections,26223,524381,2.638081e+07,1,1,1
58,2018-05,Dairy,15889,318022,1.653038e+07,10,10,8
59,2018-05,Grain,12752,254638,1.521024e+07,11,11,10
60,2018-05,Meat,22948,459157,2.331342e+07,2,2,2
61,2018-05,Poultry,21496,429252,2.068953e+07,3,3,3
62,2018-05,Produce,19533,390558,1.718207e+07,5,5,6
63,2018-05,Seafood,16422,327956,1.543399e+07,8,8,9
64,2018-05,Shell fish,16303,326583,1.393059e+07,9,9,11
65,2018-05,Snails,16539,330422,1.707226e+07,7,7,7

In [ ]:
# top_products.to_csv('top_products.csv', index=False)

# Customers

In [ ]:
# Top cities by month
query = """
with top_cities as (
  select
    sales_month,
    CityID,
    count(SalesID) as count_transaction,
    sum(Quantity) as sum_quantity,
    sum(total_price) as sum_total_price,
    dense_rank() over (partition by sales_month order by count(SalesID) desc) as ranker_transaction,
    dense_rank() over (partition by sales_month order by sum(Quantity) desc) as ranker_quantity,
    dense_rank() over (partition by sales_month order by sum(total_price) desc) as ranker_price
  from (
    select
      cast(strftime('%Y-%m', s.SalesDate) as text) as sales_month,
      s.*,
      p.Price,
      s.Quantity * p.Price * (1 - s.Discount) as total_price,
      c.CityID
    from sales s
    left join products p on s.ProductID = p.ProductID
    left join customers c on s.CustomerID = c.CustomerID
  ) joiner
  where sales_month is not null
  group by sales_month, CityID
  order by sales_month, CityID
)

, top_five as (
  select
    t.*,
    ci.CityName,
    sum(count_transaction) over (partition by sales_month) as monthly_total_transaction,
    sum(sum_quantity) over (partition by sales_month) as monthly_sum_quantity,
    sum(sum_total_price) over (partition by sales_month) as monthly_sum_price
  from top_cities t
  left join cities ci on t.CityID = ci.CityID
  where ranker_transaction <= 5
    or ranker_quantity <= 5
    or ranker_price <= 5
)

select
  *,
  round(count_transaction * 1.0 / monthly_total_transaction * 100, 1) as percent_transaction,
  round(sum_quantity * 1.0 / monthly_sum_quantity * 100, 1) as percent_quantity,
  round(sum_total_price * 1.0 / monthly_sum_price * 100, 1) as percent_price
from top_five
"""
top_cities = sqldf(query, globals())
top_cities.tail(10)

,sales_month,CityID,count_transaction,sum_quantity,sum_total_price,ranker_transaction,ranker_quantity,ranker_price,CityName,monthly_total_transaction,monthly_sum_quantity,monthly_sum_price,percent_transaction,percent_quantity,percent_price
27,2018-04,81,7815,156964,7.741304e+06,2,1,1,Sacramento,54055,1081765,5.322333e+07,14.5,14.5,14.5
28,2018-05,17,2317,45906,2.243005e+06,3,5,11,St. Louis,20753,415041,2.045739e+07,11.2,11.1,11.0
29,2018-05,27,2288,45034,2.196342e+06,5,12,18,Mesa,20753,415041,2.045739e+07,11.0,10.9,10.7
30,2018-05,32,2277,45316,2.297236e+06,9,10,3,Jackson,20753,415041,2.045739e+07,11.0,10.9,11.2
31,2018-05,35,2251,45588,2.272206e+06,11,9,4,Greensboro,20753,415041,2.045739e+07,10.8,11.0,11.1
32,2018-05,46,2309,46204,2.252016e+06,4,3,9,New York,20753,415041,2.045739e+07,11.1,11.1,11.0
33,2018-05,81,2335,46823,2.331179e+06,2,2,2,Sacramento,20753,415041,2.045739e+07,11.3,11.3,11.4
34,2018-05,82,2408,48606,2.348510e+06,1,1,1,Charlotte,20753,415041,2.045739e+07,11.6,11.7,11.5
35,2018-05,92,2288,45933,2.247609e+06,5,4,10,Hialeah,20753,415041,2.045739e+07,11.0,11.1,11.0
36,2018-05,94,2280,45631,2.269286e+06,8,7,5,Yonkers,20753,415041,2.045739e+07,11.0,11.0,11.1

In [ ]:
# top_cities.to_csv('top_cities.csv', index=False)

In [12]:
# Monthly sales
query = """
select
  sales_month,
  avg(sum_quantity) as avg_quantity,
  max(sum_quantity) as max_quantity,
  min(sum_quantity) as min_quantity
from (
  select
    cast(strftime('%Y-%m', SalesDate) as text) as sales_month,
    CustomerID,
    sum(Quantity) as sum_quantity
  from sales
  where SalesDate is not null
  group by sales_month, CustomerID
  order by sales_month
)
group by sales_month
order by sales_month
"""
mau = sqldf(query, globals())
mau.head(10)

  sales_month  avg_quantity  max_quantity  min_quantity
0     2018-01    325.797096           925            54
1     2018-02    293.712224           750            30
2     2018-03    326.175289           888            46
3     2018-04    315.163184           775            45
4     2018-05     95.744028           352            15

In [11]:
# Weekly sales
query = """
select
  sales_week,
  avg(sum_quantity) as avg_quantity,
  max(sum_quantity) as max_quantity,
  min(sum_quantity) as min_quantity
from (
  select
    cast(strftime('%Y week-%W', SalesDate) as text) as sales_week,
    CustomerID,
    sum(Quantity) as sum_quantity
  from sales
  where SalesDate is not null
  group by sales_week, CustomerID
  order by sales_week
)
group by sales_week
order by sales_week
"""
temp = sqldf(query, globals())
temp

      sales_week  avg_quantity  max_quantity  min_quantity
0   2018 week-01     75.568397           308            15
1   2018 week-02     75.319369           300            15
2   2018 week-03     75.377977           325            15
3   2018 week-04     75.662447           350            15
4   2018 week-05     75.248849           280            15
5   2018 week-06     75.005362           300            15
6   2018 week-07     75.506505           312            15
7   2018 week-08     75.484548           312            15
8   2018 week-09     75.286792           330            15
9   2018 week-10     75.250584           350            15
10  2018 week-11     75.720272           299            15
11  2018 week-12     75.689177           400            15
12  2018 week-13     75.662735           315            15
13  2018 week-14     75.436695           325            15
14  2018 week-15     75.441586           300            15
15  2018 week-16     75.468034           350            15
16  2018 week-17     75.221470           350            15
17  2018 week-18     75.486936           300            15
18  2018 week-19     39.988258           200            15

# Signup Rate

Customers who purchased more than 400 units in a month will sign up as members.

In [ ]:
# Signup Rate
query = """
with monthly as (
  select
    cast(strftime('%Y-%m', SalesDate) as text) as sales_month,
    CustomerID,
    sum(Quantity) as sum_quantity
  from sales
  where SalesDate is not null
  group by sales_month, CustomerID
  order by sales_month, CustomerID
)

, signup_month as (
  select
    sales_month,
    CustomerID
  from (
    select
      CustomerID,
      sales_month,
      sum_quantity,
      row_number() over (partition by CustomerID order by sales_month) as rn
    from monthly
    where sum_quantity > 400 -- member minimum purchase
  )
  where rn = 1
)

, total_customers_ as (
  select
    sales_month,
    count(CustomerID) as total_customers
  from monthly
  group by sales_month
)

, new_members_ as (
  select
    sales_month,
    count(CustomerID) as new_members
  from signup_month
  group by sales_month
)

, signup_rate as (
  select
    n.sales_month,
    n.new_members,
    t.total_customers,
    round(n.new_members * 1.0 / t.total_customers * 100) as signup_rate
  from new_members_ n
  left join total_customers_ t on n.sales_month = t.sales_month
  order by n.sales_month
)

select *
from signup_rate
"""
signup = sqldf(query, globals())
signup.head(10)

  sales_month  new_members  total_customers  signup_rate
0     2018-01         8564            43454         20.0
1     2018-02         3240            43454          7.0
2     2018-03         4664            43454         11.0
3     2018-04         2765            43454          6.0

In [ ]:
signup.to_csv('signup.csv', index=False)

# Retention Rate

In [ ]:
query = """
with monthly as (
  select
    cast(strftime('%Y-%m', SalesDate) as text) as sales_month,
    CustomerID,
    sum(Quantity) as sum_quantity
  from sales
  where SalesDate is not null
  group by sales_month, CustomerID
  order by sales_month, CustomerID
)

, min_purchase as (
  select
    CustomerID,
    sales_month,
    sum_quantity,
    row_number() over (partition by CustomerID order by sales_month) as rn
  from monthly
  where sum_quantity > 400 -- member signup minimum purchase
)

, signup_month as (
  select
    sales_month,
    CustomerID
  from min_purchase
  where rn = 1
)

, obs_month as (
  select *,
    -- dateadd('month', 1, sales_month) as obs_1m
    cast(substr(sales_month, 1, 6) as text) || cast(cast(substr(sales_month, -1) as int) + 1 as text) as obs_1m,
    cast(substr(sales_month, 1, 6) as text) || cast(cast(substr(sales_month, -1) as int) + 2 as text) as obs_2m,
    cast(substr(sales_month, 1, 6) as text) || cast(cast(substr(sales_month, -1) as int) + 3 as text) as obs_3m
  from signup_month
  order by sales_month
)

, next_month as (
  select
    a.*,
    b.CustomerID as retain_1m,
    c.CustomerID as retain_2m,
    d.CustomerID as retain_3m
  from obs_month a

  -- first month retention
  left join monthly b
    on a.obs_1m = b.sales_month
    and a.CustomerID = b.CustomerID
    and b.sum_quantity > 300 -- minimum quantity to retain membership in the 1st month

  -- second month retention
  left join monthly c
    on a.obs_2m = c.sales_month
    and a.CustomerID = c.CustomerID
    and c.sum_quantity > 400 -- minimum quantity to retain membership in the 2nd month

  -- third month retention
  left join monthly d
    on a.obs_3m = d.sales_month
    and a.CustomerID = d.CustomerID
    and d.sum_quantity > 400 -- minimum quantity to retain membership in the 3rd month
)

select
  sales_month,
  count(CustomerID) as num_members,
  count(retain_1m) as retain_1m,
  count(retain_2m) as retain_2m,
  count(retain_3m) as retain_3m,
  case
    when count(retain_1m) > 10 then round(count(retain_1m) * 1.0 / count(CustomerID) * 100, 1)
    else null end as retention_rate_1m,
  case
    when count(retain_2m) > 10 then round(count(retain_2m) * 1.0 / count(CustomerID) * 100, 1)
    else null end as retention_rate_2m,
  case
    when count(retain_3m) > 10 then round(count(retain_3m) * 1.0 / count(CustomerID) * 100, 1)
    else null end as retention_rate_3m
from next_month
group by sales_month
order by sales_month
"""
retention = sqldf(query, globals())
retention.head(10)

,sales_month,num_members,retain_1m,retain_2m,retain_3m,retention_rate_1m,retention_rate_2m,retention_rate_3m
0,2018-01,8564,5044,2970,2450,58.9,34.7,28.6
1,2018-02,3240,2389,938,0,73.7,29.0,NaN
2,2018-03,4664,3029,0,0,64.9,NaN,NaN
3,2018-04,2765,1,0,0,NaN,NaN,NaN

In [ ]:
# retention.to_csv('retention.csv', index=False)

# ARPU

In [16]:
query = """
with monthly as (
  select
    cast(strftime('%Y-%m', s.SalesDate) as text) as sales_month,
    s.CustomerID,
    sum(s.Quantity) as sum_quantity,
    sum(s.Quantity * p.Price * (1 - s.Discount)) as total_price
  from sales s
  left join products p on s.ProductID = p.ProductID
  where SalesDate is not null
  group by sales_month, CustomerID
  order by sales_month, CustomerID
)

, signup_month as (
  select
    sales_month,
    CustomerID
  from (
    select
      CustomerID,
      sales_month,
      sum_quantity,
      row_number() over (partition by CustomerID order by sales_month) as rn
    from monthly
    where sum_quantity > 400 -- member minimum purchase
  )
  where rn = 1
)

select
  s.sales_month,
  round(avg(m.total_price)) as arpu
from signup_month s
left join monthly m on s.CustomerID = m.CustomerID
group by s.sales_month
order by s.sales_month
"""
arpu = sqldf(query, globals())
arpu.head(10)

  sales_month     arpu
0     2018-01  16120.0
1     2018-02  15903.0
2     2018-03  14998.0
3     2018-04  14491.0

In [18]:
arpu.to_csv('arpu.csv', index=False)